#Basliq{
  background: #272727;
  width: 100%;
  height: 50px;
    .custom-col{
        color:white;
        box-sizing:border-box;
        
        h3{
            font-family: "Lato", Arial, sans-serif;
            font-size: 13px;
            display: inline-block;
            transition: .8s ease;
            cursor: pointer;
            &:hover{
                color: gold;
            }
        }
        
        i{
            color: gold;
            font-size: 18px;
        }
        .col-md-3{
            .cstm2{
                margin-left: 5px;
                i{
                    color: white;
                    margin-top: 17px;
                    margin-left: 15px;
                    font-size: 15px; 
                    transition: .5s ease;
                    cursor: pointer;
                    &:hover{
                        color: gold;
                    }
                }
            }
            
        
        }
    }

}
#SlideNav{
    background-color: transparent;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    padding: 25px;
    .col-md-7{
        a{
            font-family: "Lato", Arial, sans-serif;
            font-size: 14px;
            margin-top: 15px;
            margin-left: 15px;
            text-decoration: none;
            color:white;
            transition: .5s ease;
            &:hover{
                color: gold;
            }
        }
        i{
            margin-top: 15px;
            color: white;

            &:hover{
                color: gold;
            }
        }
    }
    .col-md-1{
        i{
            cursor: pointer;
            color: white;
            margin-top: 15px;
            &:hover{
                color: gold;
            }
        }
    }


}
#slider{
    div{
       h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 8em;
        position: absolute;
        color: white;
        top: 32%;
        margin-left: 25%;
        text-align: center;
       }  
       h2{
        font-size: 1.8em;
        position: absolute;
        color: white;
        top:48%;
        left: 26%;
        text-align: center;
    }
       .border{
           width: 3%;
           position: absolute;
           z-index: 100;
           top: 34%;
           left:50%;
           border: 1px solid gold;
       }
       button{
           width: 15%;
           height: 40px;
           background-color: #f2bd00;
           color: #f2f2f2;
           font-size: 13px;
           position: absolute;
           border: none;
           left:43%;
           top:58%;
           transition: .6s ease;
           border-radius: 5px;
           &:hover{
               background-color: black;
           }
       }
    }
}